/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Lato|Teko:500&display=swap");

/* SETUP SNIPPET */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

/*** GENERAL ***/

html {
  font-size: 115%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #000;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc00004D' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%2393003d4D' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23d6002b4D' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%239600494D' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23d9004b4D' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%239700574D' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23d3006c4D' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%239500674D' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23c4008c4D' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%239100774D' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23aa00aa4D' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%238800884D' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
  padding-bottom: 50px;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 1%;
}

h2 {
  margin-top: 0;
  font-size: 22px;
}

p, h4 {
  text-align: center;
  margin: 0 auto;
}

/* HEADER  */

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: "Teko", sans-serif;
  font-size: 6vw;
  position: relative;
  letter-spacing: 2.5px;
}

h1::after {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(212, 206, 232, 0.7) 0%,
    rgba(43, 0, 88, 0.6) 100%
  );
  width: 28%;
  position: absolute;
  bottom: 20%;
  left: 38%;
  height: 20%;
  z-index: -1;
}

.description p {
  width: 70%;
  margin: 50px auto 70px auto;
  line-height: 1.5;
  text-align: center;
  font-weight: bold;
  padding: 20px;
  background: #fcf2db;
  -webkit-box-shadow: 16px 16px 0px -2px rgba(252,225,171,1);
  -moz-box-shadow: 16px 16px 0px -2px rgba(252,225,171,1);
  box-shadow: 16px 16px 0px -2px rgba(252,225,171,1);
}

/*** FORM SECTION ***/

button {
  border: none;
  background: white;
}

form {
  display: flex;
  justify-content: space-around;
  margin: 10px auto 30px;
}

.form-inputs {
  display: flex;
  justify-content: space-between;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

.input-group {
  width: calc(100% / 3);
  text-align: center;
}

input[type=text],
input[type=range] {
  width: calc(100% - 90px)
}

@media (max-width: 1250px) {
  input[type=text],
  input[type=range] {
  width: calc(100% - 70px)
}
}

@media (max-width: 1100px) {
  input[type=text],
  input[type=range] {
  width: calc(100% - 50px)
}
}

input[type=text] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: #93003d solid 2px;
  text-align: center;
  /* width: calc(100% - 60px); */
}

.form-button {
  margin: 0 auto;
}

.form-container button {
  border: #3c3c3c 2px solid;
  border: #2b0058 2px solid;
  border-radius: 25px;
  margin-top: 30px;
  padding: 10px;
  width: 200px;
  color: #3c3c3c;
  color: #2b0058;
  background: white;
  transition: 0.3s ease;
}

.form-container button:hover {
  background: #d4cee8;
  /* background: #93003d; */
}

/* CHECKBOX STYLING */

.check-contain {
  margin-top: 8px;
}

.checkbox {
  margin-right: 20px;
  padding-top: 8px;
  height: 19px;
  width: 19px;
}

.check-label {
  vertical-align: top;
  padding-bottom: 5px;
}


/* SLIDER STYLING */

/* styling done through tool on http://danielstern.ca/range.css/#/ */

input[type=range] {
  -webkit-appearance: none;
  /* width: calc(100% - 60px); */
  margin: 8.3px 0;
  padding-top: 22px;
  background: transparent;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 0.7px solid #3c3c3c;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: #93003d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 0.7px solid #3c3c3c;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: #93003d;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0.7px solid #3c3c3c;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.7px solid #3c3c3c;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: #93003d;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

/* MAP AND LOCATIONS SECTION */

.geolocator-loading-prompt {
  background: white;
  border: 1px solid red;
  border-radius: 15px;
  padding: 15px;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
}

.content-container {
  display: flex;
  margin-bottom: 0px;
  justify-content: center;
}

.map-and-locations {
  display: flex;
  width: 95%;
  justify-content: space-between;
  /* height: 70vh; */

}

/* .location-list {
  width: 40%;
  overflow-y: auto;
  overflow-x: hidden;
} */

.location-list {
    /* width: 30%; */
    width: calc(100% - (100vw * 0.5*0.9));
    height: calc(100vw * 0.5*0.9);
    overflow-y: auto;
    overflow-x: hidden;
    /* height: 82%;
    margin-top: 8%; */
  }

.location-list button {
  width: 100%;
  padding: 10px;
  border-top: 1px solid #93003D;
  border-bottom: 1px solid #93003D;
}

.location-list button:hover {
  transform: scale(1.1);
}

.highlighted-button {
  background-color: #d4cee8;
}

.tourist-mode-button {
  background-color: #fcf2db;
}

.map-markers {
  width: calc(100vw * 0.5*0.9)
}

.map-markers img {
  max-width: 100%;
  /* width: 100%; */
}

.loading-popup {
  position: absolute;
  top: 20%;
  left: 25%;
  background: white;
  border: 3px solid #EEE;
  border-radius: 25px;
  padding: 15px;
}

.map-markers img {
  max-height: 100%;
  object-fit: contain;
}

/* WRITTEN DIRECTIONS */

.direction-container {
  width: 23%;
  height: calc(100vw * 0.5*0.9);
  background-color: #d4cee8E6;
}

.directions-list {
  overflow-y: auto;
  overflow-x: hidden;
  color: black;
}

.directions-list ol {
  padding-right: 10px;
}

.directions-list h3 {
  text-align: center;
}

.directions-list li {
  margin: 10px 0;
}

.tourist {
  font-size: 0.9rem;

}


@media (max-width: 1204px) {

  .map-markers {
    width: calc(100vw * 0.65*0.9)
  }

  .location-list {
    width: calc(100% - (100vw * 0.65*0.9));
    height: calc(100vw * 0.65*0.9);
  }
  .content-container {
    flex-direction: column;
  }

  .map-and-locations {
    width: 100%;
  }

  .direction-container {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }

  .directions-list {
    text-align: center;
  }

}

@media (max-width: 1000px) {
  h2 {
    font-size: 18px;
  }

  button h4 {
    font-size: 0.9rem;
  }
  button p {
    font-size: 0.8rem;
  }

  .check-label {
    font-size: 0.75rem;
  }

  .form-container button {
    font-size: 0.8rem;
    width: 125px;
  }
}


@media (max-width: 850px) {

  h1 {
    font-size: 50px;
  }

  .form-inputs {
    flex-direction: column;
    align-items: center;
  }

  .input-group {
    width: 80%;
    padding-top: 5%;
  }

  h2 {
    font-size: 20px;
    margin-bottom: 1%;
  }

  .map-and-locations {
    flex-direction: column;
    /* height: 125vh; */
  }

  .loading-popup {
    position: fixed;
    top: 40px;
    left: 40px;
  }

  .location-list {
    width: 100%;
    margin: 0 0 20px;
    height: 50vh;
  }

  .map-markers {
    width: 100%;
  }

}

@media (max-width: 450px) {
  .input-group {
    width: 95%;
  }

  input[type=text] {
    font-size: 0.8rem;
  }

  .map-and-locations {
    height: 100vh;
  }
}