/* FONTS */

@import url("https://fonts.googleapis.com/css?family=Lato|Teko:500&display=swap");

/* SETUP SNIPPET */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
[hidden] {
  display: none;
}
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
a:focus {
  outline: thin dotted;
}
a:active,
a:hover {
  outline: 0;
}
h1 {
  font-size: 2em;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: 700;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}
q {
  quotes: \201c \201d \2018 \2019;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
img {
  border: 0;
}
svg:not(:root) {
  overflow: hidden;
}
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}
button,
input {
  line-height: normal;
}
button,html input[type=button],/* 1 */input[type=reset],input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}
button[disabled],
input[disabled] {
  cursor: default;
}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body,
figure {
  margin: 0;
}
legend,
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: "";
  clear: both;
  height: 0;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.visuallyHidden:not(:focus):not(:active) {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(00 0 0);
  overflow: hidden;
}

/* GENERAL */

html {
  font-size: 115%;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background-color: #fdfdfd; */
  color: #3c3c3c;
}

.wrapper {
  width: 90%;
  max-width: 1280px;
  margin: 0 auto;
  padding-top: 1%;
}

/* HEADER  */

h1 {
  text-align: center;
  margin: 0 auto;
  font-family: "Teko", sans-serif;
  font-size: 6vw;
  position: relative;
  letter-spacing: 2.5px;
}

h1::after {
  content: "";
  background: linear-gradient(
    90deg,
    rgba(212, 206, 232, 0.7) 0%,
    rgba(43, 0, 88, 0.6) 100%
  );
  width: 28%;
  position: absolute;
  bottom: 20%;
  left: 38%;
  height: 20%;
  z-index: -1;
}

/* FORM SECTION */

h2 {
  font-size: 22px;
}

button {
  border: none;
  background: white;
}

/* .form-container {
  width: 90%;
  margin: 0 auto;
} */

.form-inputs {
  display: flex;
  justify-content: space-between;
}

.form-flex {
  display: flex;
  flex-direction: column;
}

.input-group {
  width: calc(100% / 3);
  text-align: center;
}

input[type=text],
input[type=range] {
  width: calc(100% - 90px)
}

@media (max-width: 1250px) {
  input[type=text],
  input[type=range] {
  width: calc(100% - 70px)
}
}

@media (max-width: 1100px) {
  input[type=text],
  input[type=range] {
  width: calc(100% - 50px)
}
}

/* **desktop design breaks around 1000px** */

input[type=text] {
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-bottom: #93003d solid 2px;
  text-align: center;
  /* width: calc(100% - 60px); */
}

/* input:hover,
input:focus,
input:active {
  border: none;
  border-bottom: #93003d solid 2px;
  padding-bottom: 10px;
} */

.form-button {
  margin: 0 auto;
}

.form-container button {
  border: #3c3c3c 2px solid;
  border: #2b0058 2px solid;
  border-radius: 25px;
  margin-top: 20px;
  padding: 10px;
  width: 200px;
  color: #3c3c3c;
  color: #2b0058;
  background: transparent;
  transition: 0.3s ease;
}

.form-container button:hover {
  background: #d4cee8;
  /* background: #93003d; */
}

/* CHECKBOX STYLING */

.check-contain {
  margin-top: 8px;
}

.checkbox {
  margin-right: 20px;
  padding-top: 8px;
  height: 19px;
  width: 19px;
}

.check-label {
  vertical-align: top;
  padding-bottom: 5px;
}

/* .check-contain {
  position: relative;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 25px;
  width: 25px;
  border: 1px solid black;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: grey;
}

.container input:checked ~ .checkmark {
  background-color: #2196F3;
} */

/* .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

/* SLIDER STYLING */

/* styling done through tool on http://danielstern.ca/range.css/#/ */

input[type=range] {
  -webkit-appearance: none;
  /* width: calc(100% - 60px); */
  margin: 8.3px 0;
  padding-top: 22px;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 0.7px solid #3c3c3c;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: #93003d;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -9px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #ffffff;
  border-radius: 0px;
  border: 0.7px solid #3c3c3c;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: #93003d;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0.7px solid #3c3c3c;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0.7px solid #3c3c3c;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 25px;
  width: 14px;
  border-radius: 2px;
  background: #93003d;
  cursor: pointer;
  height: 8.4px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}

/* MAP AND LOCATIONS SECTION */

.geolocator-loading-prompt {
  background: white;
  border: 1px solid red;
  border-radius: 15px;
  padding: 15px;
  position: fixed;
  top: 20px;
  left: 20px;
  width: 200px;
}

.content-container {
  display: flex;
  height: 65vh;
  margin-bottom: 50px;
  /* border: 2px solid #2b0058; */
}

.map-and-locations {
  display: flex;
  width: 70%;
}

.location-list {
  width: 40%;
  overflow-y: auto;
  overflow-x: hidden;
}

.location-list button {
  padding: 10px;
}

.highlighted-button {
  background-color: #d4cee8;
}

.map-markers {
  display: relative;
}

.loading-popup {
  position: absolute;
  top: 50%;
  left: 42%;
  background: white;
  border-radius: 10px;
  padding: 15px;
}

.map-markers img {
  max-height: 100%;
  object-fit: contain;
}

/* WRITTEN DIRECTIONS */

.directions-list {
  width: 30%;
  overflow-y: auto;
  overflow-x: hidden;
}

.directions-list h3 {
  text-align: center;
}

.directions-list li {
  margin: 10px 0;
}